<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>미니프로젝트 메인</title>
</head>
<body>
    <h1>Django Mini Projects</h1>

    <div><a href="{% url 'minipjs:calculator' %}">1. calculator</a></div>
    <div><a href="/naver_book">2. naver_book_search</a></div>
    <div><a href="/polls">3. Polls</a></div>
    <div><a href="/yes24">4. yes24best</a></div>
    <div><a href="/books">5. books</a></div>
</body>
</html>
